apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: book-api
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'book-api'
        static_configs:
          - targets: ['book-api-service:5000']
