apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: book-api
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
  - port: 9090
    targetPort: 9090
    nodePort: 30090
    protocol: TCP
